<!-- <app-view-documents></app-view-documents> -->

<div class="card">
  <div class="container">
    <div class="header">
      <div class="header-text">COK Details</div>
    </div>
    <div class="form-section">
      <div class="form-fields">
        <div class="form-field">FN<br><input type="text"></div>
        <div class="form-field">LN<br><input type="text"></div>
        <div class="form-field">UN<br><input type="text"></div>
        <div class="form-field">N<br><input type="text"></div>
        <div class="form-field">DOB<br><input type="text"></div>
      </div>
    </div>
    <div class="content-sections">
      <div class="pppdf-container">
        <div class="content-box pp-pdf">PPPDF</div>
        <div class="additional-box below-pppdf">Below PPPDF</div> <!-- New box below PPPDF -->
      </div>
      <div class="right-section">
        <div class="content-box dr">DR</div>
        <div class="additional-box ed">ED</div>
        <div class="additional-box cr">CR</div>
      </div>
    </div>
  </div>
</div>